/*/////////////////////////////////////////////////////////////////////////
                             Navigation Bar
/////////////////////////////////////////////////////////////////////////*/
/* 1. General Links */

li {
  list-style-type: none;
}

a,
a:link,
a:visited {
  color: white;
  display: block;
  font-size: 1.25em;
  font-weight: 500;
  padding: 1em;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  background: #35AD81;
}



/* 2. Desktop Nav Menu */
.desktop-menu {
  background: #17FFA6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#AEFF17, #17FFA6, #35AD81); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#AEFF17, #17FFA6, #35AD81); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#AEFF17, #17FFA6, #35AD81); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#AEFF17, #17FFA6, #35AD81); /* Standard syntax (must be last) */
  margin: 0;
  padding: .75em 0;
  position: absolute; /* Prevents parent ul from collapsing because of floated children li's. Alternative to overflow: auto/none; */
  top: 0;
  width: 100%;
  z-index: 1; /* Allows desktop menu to show over slider */
  font-family: 'Montserrat', sans-serif;
}

.desktop-link {
  float: left;
  margin-top: 1.00em;
  text-align: center;
}

  /* 2.1 Desktop Home Link */
  #home {
    border: 0px solid #35AD81;
    float: left;
    font-size: 1em;
    margin: .5em 1em .5em 1em;
    padding: .75em;
  }

  #home,
  #home:link,
  #home:visited,
  #home:hover,
  #home:focus,
  #home:active {
    color: #35AD81;
    background: none;
  }

  .yonsei-logo {
    margin: -.5em auto .5em auto;
    width: 4em;
    width: 100%;
    display: block; /* To remove background color under images */
  }

  /* 2.2 Desktop Dropdown-menu */
  a.caret,
  #mobile-menu,
  .dropdown-menu {
    display: none; /* Removes mobile menu, caret links, and dropdown menu (when menu items are not hovered) on large screens */
  }

  .desktop-link:hover .dropdown-menu {
    display: block; /* Shows dropdown menu when menu items are hovered */
  }

  .dropdown-menu {
    background: #35AD81;
    box-shadow: 2px 2px 10px #777;
    font-size: .7em;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 20em;
  }

  .dropdown-menu a,
  .dropdown-menu a:link,
  .dropdown-menu a:visited {
    border-top: 1px solid #17FFA6;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
  }

  .dropdown-menu a:hover,
  .dropdown-menu a:focus,
  .dropdown-menu a:active {
    color: white;
  }

/* 3. Tablet/Mobile Nav Menu */
@media screen and (max-width: 1200px) {
  body {
    padding-top: 5.9em; /*  is not covered by menu bar */
  }

  .desktop-menu {
    padding: 0; /* Stops mobile nav from jumping up when mobile icon is clicked */
  }

  .desktop-link {
    text-align: left;
  }

  #mobile-menu {
    background: #17FFA6;
    display: block; /* Shows mobile-menu on small screen menu */
    position: absolute;
    width: 100%;
  }

  #mobile-icon-container {
    background: none;
    float: right;
    width: .35em;
  }

    /* 3.1 Tablet/Mobile Home2 Link */
    #home {
      display: none; /* 연세대학교 desktop-link disappears from small screen menu */
    }
     #mobile-menu #home2 { /* Inherits from "Styles for mobile menu icon" */
      background: none;
      border: 0px solid #35AD81;
      font-size: .8em;
      left: 1em;
      position: absolute;
      top: 1em;
    }

    .yonsei-logo {
      float: left;
      margin-bottom: -.5em;
      margin-left: -.5em;
      margin-right: .5em;
    }

    #logo-text {
      font-size: 1.25em;
      position: relative;
      top: .5em;
    }

    #mobile-icon {
      height: 3.5em;
      margin-top: -.75em;
      position: relative;
      right: 1em;
      top: .35em;
      width: 2.5em;
    }

    /* 3.2 Tablet/Mobile Dropdown Menu  */
    a.caret { /* a.caret to beat specificity of styles for general a links */
      background: #193658;
      border-bottom: 1px solid #17FFA6;
      border-left: 1px solid #17FFA6;
      bottom: 0;
      color: white;
      display: block; /* Shows caret link on small screen menu */
      position: absolute;
      right: 0;
      top: 0;
    }

    .caret:hover,
    .caret:focus,
    .caret:active {
      background: #35AD81;
    }

    .desktop-link {
      border-top: 1px solid #193658;
      display: none; /* Javascript menu is removed when mobile menu is inactive */
      font-size: .85em;
      margin-top: 0;
    }

    .desktop-link:hover .dropdown-menu {
      display: none; /* Makes dropdown menu disappear on small screens. AFFECTS ".desktop-link:hover .caretDropdown" ! */
    }

    #last-desktop-link {
      border-bottom: 1px solid #17FFA6;
    }

    /* 3.3 Tablet/Mobile Javascript Onclick Menu */
    .responsive {
      padding: 0;
      position: absolute; /* Allows scrolling */
    }

    .responsive .desktop-link {
      background: #17FFA6;
      display: block; /* Javascript menu is shown when mobile menu is active */
      width: 100%;
      position: relative;
      top: 7em; /* Vertically aligns menu items */
      z-index: 1; /* Allows mobile menu to show over slider */
    }

    .caretDropdown {
      display: block;
      width: 100%;
      position: relative;
    }

    .desktop-link:hover .caretDropdown {
      display: block; /* Allows dropdown menu to remain on screen when other mobile menu items are hovered. AFFECTED BY ".desktop-link:hover .dropdown-menu"! */
    }
}

/*/////////////////////////////////////////////////////////////////////////
                             Top Margin For Navbar
/////////////////////////////////////////////////////////////////////////*/

#space-for-nav {
	margin-top: 6em;
}

/*/////////////////////////////////////////////////////////////////////////
                             Events Index Page
/////////////////////////////////////////////////////////////////////////*/

div#content-block {
	margin-top: 0;
}

div.custom-container {
	margin-top: 1em;
}

/* Categories Menu */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.clearbtn, .trendbtn {
	display: inline-block;
    background-color: #4CAF50;
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
}


#profile-page-bg{
  background-color: #FFC517;
}
